nav h6 {
    font-size: 18px !important;
    font-weight: 700 !important;
    color: #383838 !important;
    opacity: 1 !important;
    padding-bottom: 16px;
  }
  
  .social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px !important;
    height: 30px !important;
    border: 1px solid #fed29c !important;
    border-radius: 50%;
  }
  
  .social-icons a:hover {
    background-color: #fed29c;
    color: #fff;
  }